* {
text-decoration: none;
}

body {
max-width: 768px;
margin: 0 auto;

} 

h1 {
  color: aqua;
  text-align: center;
}

a {
color: blueviolet;
background-color: blue;
}

table {
  border: 1px solid black;
  border-radius: 5px;

}

td {
  border: 3px solid green;
  
}
.orederedList {
  border: 2px solid salmon;
}
p {
margin: 50px 50px;  
}

.fSizeBoldness {
  font-size: 25px;
  font-weight: bolder;
}
.hidden {
  visibility: hidden;
}

.showImage {
  visibility: visible;
}
.hideImage {
  visibility: hidden;
}